.home{
    background-color: rgb(197, 196, 196);
}
.card_container{
    display: flex;
    align-items: center;
    row-gap: 2rem;
    column-gap: 3rem;
    flex-wrap: wrap;
}
.title{
   margin: 2rem;
   text-align: center;
   color: aquamarine;
   
}
.heading{
    text-align: center;

}

.banner {
    background-image: url("../Images/cover2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
  }