<div class="card" style="width:18rem; margin: 1rem;">
    <img src="https://picsum.photos/200/200" class="card-img-top" alt="image">
    <div class="card-body">
      <h3 class="card-title">{{book.title}}</h3>
      <h5 style="color: grey;"class="card-title">{{book.author}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <!-- <button class="btn btn-primary">click to know more </button> -->
      <div *ngIf="user" class="buttons">
        <button  class="button btn-dark" (click)="handleUpdate()" >UPDATE</button>
        <button  class="button btn-dark" (click)="handleDelete()" >DELETE</button>
        
      </div>

    </div>
  </div>
